/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
body{
    font-family: sans-serif;
}

.first-container{
    width: 100%;
    background-color: #f2f2f2;
    height: 100vh;
}
.left-container{
    float: left;
    width: 50%;
    margin-top: 30vh;
    height: 30vh;
    text-align: center;
}
.head1{
    width: 50%;
    margin: auto;
}
.para1{
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.frame1{
    width: 50%;
    height: 70%;
    margin-top: 15vh;
}
.button1{
    margin-top: 20px;

}
button{
    color: white;
    background: black;
    height: 6vh;
    border-radius: 7px;
    width: 150px;
    border: none;
    margin-top: 5vh;
}
.second-container{
    width: 100%;
    height: 40vh;
    text-align: center;
    background-color: #f2f2f2;
}
.para2{
    width: 50%;
    margin: auto;
}
.third-container{
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
}
.frame2{
    width: 50%;
    margin: auto;
    height: 50vh;
}

