/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
body{
    font-family: sans-serif;
}

.first-container{
    width: 100%;
    background-color: #f2f2f2;
    padding: 30px;
    height: 100vh;
}
.left-container{
    float: left;
    width: 50%;
    margin-top: 30vh;
    height: 30vh;
}
.head1{
    width: 50%;
}
.para1{
    width: 50%;
}
.frame1{
    width: 50%;
    height: 70%;
    margin-top: 15vh;
}
button{
    color: white;
    background: black;
    height: 6vh;
    border-radius: 7px;
    width: 150px;
    border: none;
}
.second-container{
    width: 100%;
    background-color: #f2f2f2;
    padding: 30px;
    height: 100vh;
    text-align: center;
}
.para2{
    width: 50%;
    margin-left: 320px;
}
.frame2{
    width: 50%;
    height: 60%;
    margin-block: 20px;

}